/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;

}
:root{
    --color: #7289DA
}

/* Utils */
.container{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.btn-chiaro{
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
}
.btn-scuro{
    padding: 10px 20px;
    background-color: rgb(34, 33, 33);
    border-radius: 30px;
    color: white;
    margin-left: 20px;
}


hr{
    border: 1px solid lightblue;
}
.bg-grey{
    background-color: rgb(211, 211, 211);
}
.bg-arancione{
    background-color: rgb(255, 165, 0);
}
.bg-blue{
    background-color: rgb(0, 0, 255);
}
.bg-pink{
    background-color: rgb(255, 192, 203);
}
.bg-green{
    background-color: rgb(0, 128, 0);
}
.bg-black{
    background-color: rgb(0, 0, 0);
}
.bg-lightblue{
    background-color: rgb(103, 205, 240);
}
.bg-salmon{
    background-color: rgb(250, 128, 114);
}
/* debug */
div{
    border: 1px dotted rgb(0, 0, 0);
}
.flex{
    display: flex;
}
.flex-reverse{
    flex-direction: row-reverse;
}
/* Altezza e padding predefinito per il main */
.height{
    height: 300px;
}
.padding{
    padding: 20px 0;
}
.padding-bottom-20{
    padding-bottom: 20px;
    padding-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}

/* Header */
.header{
    background-color: #255EE9 ;
    /* height: 100px; */
    padding: 35px 0px;
}
.bg-header{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    /* line-height: 30px; */
    
}
.logo{
    min-width: 20%;
    justify-content: flex-start;
}

.lista{
    min-width: 60%;
    align-items: center;
    justify-content: center;
}
.login{
    min-width: 20%;
    justify-content: flex-end;
    align-items: center;
}
.lista ul{
    display: flex;
    list-style: none;
}
.lista ul li{
    margin: 0 10px;
}
.lista a{
    color: white;
}

/* Fine Header */

/* Banner */
.banner{
    /* debug */
    padding: 60px;
    justify-content: center;

}

.banner-content{

    /* background-color: rgb(248, 104, 128); */
    min-width: 50%;
    text-align: center;
    color: white;
    padding: 30px 0;
}
.banner-content h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.banner-content p{
    line-height: 30px;
    margin-bottom: 30px;
}

/* Fine banner */

/* Main */
.col-60{
    display: flex;
    min-width: 60%;
    justify-content: flex-start;
    align-items: baseline;
}
.col-60 img{
    min-width: 100%;
    align-items: center;
}

.col-40{
    min-width: 40%;
    padding-top: 25px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 

}
.col-40 p{
    line-height: 30px;

}
h2{
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: left;

}
.col-40-2{
    min-width: 40%;
    padding-top: 25px; 
    display: flex;
    flex-direction: column; 
     align-items: center; 
    justify-content: space;
    align-content: stretch;
}
.col-100{
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col-15{
    min-width: 15%;
}
.dotted-white{
    border: 1px dotted white;
}
/* Fine main */

/* Footer */
.col-40-footer{
    min-width: 40%;
    padding-top: 25px; 
    display: flex; 
    align-items: center; 
}

.footer{
    justify-content: space-between;
    padding: 20px 0;
}

button {
    padding: 5px 10px;
    border: 1px dotted black;
}
ul{
    list-style: none;
    color: white;
}
ul a{
    color: white;
}
.col-15 ul li{
    margin: 10px;
}
.list-header{
    color: var(--color);
}
.col-40-footer h3{
    color: var(--color);
}
.col-40-footer p{
    color: white;
}
